celery==5.2.2
numpy==1.15.2
msgpack-python==0.5.6
msgpack-numpy==0.4.4.1
python-dotenv==0.9.1
dfparser==0.0.20
python-dateutil==2.7.3
natsort==5.4.1
pynumparser==1.4.1
dash==0.28.1
dash-core-components==0.33.0
dash-html-components==0.13.2
flask==1.0.2
flask-caching==1.4.0
redis==2.10.6
lz4==2.1.0
tqdm==4.23.4
uwsgi==2.0.17.1
